<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @field.content %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @field.entry_id %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
